#DetailPage {
    width: auto;
}

#container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

#detailCard {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 715px;
    background-color: white;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
}

#detailCard h1 {
    color: #bc1332;
    font-size: 40px;
    font-family: Lucida Sans Unicode;
    margin: 0px;
    margin-top: 20px;
}

.labels {
    color: #013aa7;
    margin-right: 10px;
    font-family: Lucida Sans Unicode;
}

#dp {
    justify-content: center;
    height: 300px;
    border-radius: 10px;
}

#weight {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#height {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#lifespan {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#temps {
    display: flex;
    flex-direction: row;
    justify-content: center;
}





.hidden {
    display: none;
}

.delete {
    display: flex;
    align-self: flex-end;
    height: 25px;
    width: 20px;
    margin: 15px;
    border: white solid 1px;
    background-color: white;
    color: #bc1332;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.delete:hover {
    background-color: #bc1332;
    color: white;
    border: #bc1332 solid 1px;
}






@media only screen and (max-width: 500px) {
    #container {
        margin: 0px;
    }

    #detailCard {
        height: fit-content;
        width: 325px;
        margin: 40px;
        padding: 30px;
    }

    #dp {
        height: auto;
        width: 275px;
    }

    #temps {
        display: flex;
        flex-direction: column;
    }
}