#DetailPage {
 width: auto;
}

#container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

#detailCard {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 700px;
    background-color: white;
    justify-content: center;
    align-content: center;
}

#dp {
    justify-content: center;
    height: 300px;
}

@media only screen and (max-width: 500px) {
    #container {
        margin: 0px;
    }
    
    #detailCard {
        height: fit-content;
        width: 325px;
        margin: 40px;
        padding: 30px;
    }

    #dp {
        height: auto;
        width: 275px;
    }
}