html {
    background-color: #ededed;
}

#home {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}

#cardsC {
    display: flex;
    justify-content: center;
}

#cards {
    width: fit-content;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#filterBar {
    display: flex;
    background-color:lightgray;
    flex-direction: row;
    justify-content: space-evenly;
}

#sort {
    display: flex;
    flex-direction: row;
}

#filters {
    display: flex;
    flex-direction: row;
}

#filterBar select {
    font-size: 15px;
    padding: 20px 22px;
    border: none;
    background-color: lightgrey;
    width: 50%;
}

#filterBar select:hover {
    background-color: #bc1332; 
    color:  #f2f2f2;
}

#filterBar option {
    background-color: #f2f2f2; 
    color: black;
}

@media only screen and (max-width: 500px) {
    #cardsC {
        display: flex;
        justify-content: center;
    }
    #filterBar {
        display: flex;
        flex-direction: column;
    }
}
