html {
    background-color: #ededed;
}

#home {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

#filterBar {
    background-color:lightgray;
    padding: 25px;
    flex-direction: row;
    justify-content: space-between;
}

#cards {
    width: fit-content;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 500px) {
    #cardsC {
        display: flex;
        justify-content: center;
    }
}
