

#home {
    display:flex;
    flex-direction: column;
    align-content: flex-start;
    background-color: #ededed;
}

#header {
    background-color:#fffeb7;
    padding: 5px;
}

#pdp {
    height: 250px;
    width: 250px;
}

