#blue {
    background-color: #013aa7;
    padding: 50px;
}

#main {
    background-color: #fffeb7;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#puppydp {
    width: 500px;
    height: 500px;
    margin: 100px;
    padding: 50px;
}

#side {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    width: 500px;
    height: 400px;
    background-color: white;
    margin: 150px;
    margin-left: 0px;
    padding: 50px;
    border-radius: 20px;
}

#welcome {
    color: #bc1332;
    font-weight: bold;
    font-size: 77px;
    text-decoration:double underline overline 10px;
}

#intro {
    font-size: 23px;
    font-weight: lighter;
}

.intro-a {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

#enter {
    color: white;
    background-color: #013aa7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27px;
    border-radius: 5px;
}

#enterContainer {
    margin: 70px;
}

#enter:hover {
    background-color: #bc1332;
}

@media only screen and (max-width: 1200px) {
    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #puppydp {
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #side {
        margin: auto;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 600px) {

    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #puppydp {
        display: flex;
        width: 300px;
        height: auto;
        margin: auto;
        justify-self: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #side {
        height: 350px;
        width: 250px;
        margin: auto;
        margin-bottom: 30px;
        padding: 40px;
    }

    #welcome {
        font-size: 50px;
    }
}