#navbar {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: #013aa7;
}

#links {
    display: flex;
    flex-direction: row;
}

.link {
    color: #f2f2f2;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    font-size: 17px;
}

.link:hover {
    background-color: #bc1332;
}

#searchbar input[type=text] {
    border: none;
    font-size: 17px;
    background: #f2f2f2;
    color: #013aa7;
    height: 97%;
    text-align: center;
}

#searchbar button {
    background: #bc1332;
    color: #f2f2f2;
    font-size: 17px;
    border: none;
    cursor: pointer;
    height: 100%;
    padding: 20px 22px;
    margin-bottom: 1px;
}

#searchbar button:hover {
    background: #013aa7;
    color: #f2f2f2;
}

@media screen and (max-width: 600px) {
    #navbar {
        display: flex;
        flex-direction: column;
        padding: 0px;
        position:static;
    }

    #links {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #searchbar {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #searchbar input[type=text] {
        margin: 0px;
        height: auto;
        width: 75%;
    }

    #searchbar button {
        margin: 0px;
        
        width: 25%;
    }

}