#pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    margin: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    height: 100px;
}

.shown {
    list-style: none;
}

.hidden {
    list-style: none;
}

.page {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #ddd;
    border-radius: 5px;
    margin: 5px;
}

.page:hover {
    background-color: #013aa7;
    color: #f2f2f2;
    border-radius: 5px;
}

#active {
    background-color: #bc1332;
    color: #f2f2f2;
    border-radius: 5px;
}

.pn {
    padding: 8px 12px;
    text-decoration: none;
    background-color: #013aa7;
    color: #f2f2f2;
    border-radius: 5px;
    margin: 5px;
}

.pn:hover {
    background-color: #bc1332;
    color: #f2f2f2;
    border-radius: 5px;
}

@media only screen and (max-width: 700px) {
    .hidden {
        display: none;
    }

    #pagination {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}